<div class="jumbotron center text-center">
  <div class="nav text-right">
    <h6 class="top-links">{{#link-to 'index'}}Home{{/link-to}}</h6>
    <h6 class="top-links">{{#link-to 'about'}}About Us{{/link-to}}</h6>
    <h6 class="top-links">{{#link-to 'contact'}}Contact Us{{/link-to}}</h6>
    <h6 class="top-links">{{#link-to 'admin'}}Admin{{/link-to}}</h6>
  </div>
  <h1>Bustle</h1>
</div>

{{outlet}}
