<div class="container text-center">
  <h2>{{model.title}}</h2>
  <h5>By: {{model.author}}</h5>
    <img src="{{model.image}}" alt="" />
    <br>
    <br>
    <p>
      {{model.content}}
    </p>
</div>
